#paineis-sobre {
	margin-top: 20px;
}

.titulo-depoimento {
	background-color: #0275D8;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #FFF;
	margin-bottom: 0;
	font-size: 24px;
}

.contato-grupo-radio,
.contato-select {
	width: 50%;
	display: inline-block;
	vertical-align: top;
}

.contato-grupo-radio .radio:first-child {
	margin-top: 0;
}

footer {
	margin-top: 10px;
	padding: 1em;
	background-color: #333;
	color: #FFF;
}

footer address:last-child {
	margin-bottom: 0;
}