#paineis-sobre {
	margin-top: 20px;
}

.titulo-depoimento {
	background-color: #0275D8;
	padding: 25px;
	color: #FFF;
	margin: 0;
	font-size: 24px;
}

.contato-grupo-radio,
.contato-select {
	width: 50%;
	display: inline-block;
	vertical-align: top;
}

.contato-grupo-radio .radio:first-child {
	margin-top: 0;
}

.empresa-banner {
	color: #FFF;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 20px;
	width: 80%;
	border-radius: 6px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: 0.3s;
}


html,
body {
	height: 100%;
}

header {
	background-image: url(../img/castelo.jpg);
	background-size: cover;
	background-position: top center;
	height: 100%;
	position: relative;
}

header h1 {
	margin-top: 0;
	margin-bottom: 0;
}

footer {
	margin-top: 10px;
	padding: 1em;
	background-color: #333;
	color: #FFF;
}

footer address:last-child {
	margin-bottom: 0;
}

@media(min-width: 768px) {

	#paineis-sobre {
		margin-top: 0;
	}
	
	.jumbotron {
		margin: 20px 0 20px;
	}
}

@media(min-width: 992px) {

	.empresa-banner {
		left: 0;
		transform: translate(0, -80%);
		width: 50%;
	}

	.empresa-banner-wrapper {
		position: relative;
		height: 100%;
	}
}